services:
  mysql:
    image: mysql:8.0
    container_name: homepulse_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_HOST: "%"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app-network
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p${MYSQL_ROOT_PASSWORD}" ]
      interval: 10s
      timeout: 10s
      retries: 10
      start_period: 60s

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: homepulse_phpmyadmin
    restart: always
    environment:
      PMA_HOST: mysql
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - "8080:80"
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - app-network

  backend:
    image: ghcr.io/brikodex/homepulse/backend:latest
    container_name: homepulse_backend
    restart: always
    environment:
      DATASOURCE_URL: "jdbc:mysql://mysql:3306/${MYSQL_DATABASE}"
      DATASOURCE_USERNAME: ${MYSQL_USER}
      DATASOURCE_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      # Expose Management Console (ensure strict security!)
      - "9990:9990"
      # App port 8080 is now internal only (via gateway)
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - app-network

  frontend:
    image: ghcr.io/brikodex/homepulse/frontend:latest
    container_name: homepulse_frontend
    restart: always
    # Port 80 is now internal only (via gateway)
    depends_on:
      - backend
    networks:
      - app-network

  gateway:
    image: ghcr.io/brikodex/homepulse/gateway:latest
    container_name: homepulse_gateway
    restart: always
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - frontend
      - backend
    networks:
      - app-network

volumes:
  mysql_data:


networks:
  app-network:
    driver: bridge
